* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
    color: #000;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #666;
}

.palco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

canvas {
    border: 2px solid white;
    background-color: #333;
    max-width: 95vw;
    max-height: 90vh;
    aspect-ratio: 9 / 16;
}



/*
@media screen and (orientation: landscape) {
    canvas {
        aspect-ratio: 9 / 16;
    }
}
@media screen and (max-width: 412px) {

}
@media screen and (max-width: 900px) and (orientation: landscape) {

}
*/